<div class="modalContainer">
 <div class=" wrapper wrapper2">
<form id="login" class="col-lg-12 col-xl-12 col-md-12 d-block mx-auto">
    <h3>{{ 'Login.Login' | translate }}</h3>

    login
    <div class="mail">
        <input type="email" name="mail" >
        <label>{{ 'Login.MailOrUsername' | translate }}</label>

     </div>
    <div class="passwd">
        <input type="password" name="password">
        <label>{{ 'Login.Password' | translate }}</label>
         
    </div>
    <div class="submit">
        <button class="btn btn-primary btn-block main-button" (click)="login()">
            {{ 'Login.Login' | translate }}
         </button>
    </div>
    <p class="mb-2"><a routerLink="/forgot">
        {{ 'Login.ForgotPassword' | translate }}
     </a></p>
    <p class="text-dark mb-0">
        {{ 'Login.DonotHaveAccount' | translate }}
         <a (click)="goToRegister()"
            class="text-primary ml-1">
            {{ 'Login.SignUP' | translate }}
             
        </a></p>
</form>
<hr class="divider">
<div class="card-body">
    <div class="text-center">
        <button style="background: #3b5998;color: #fff;font-size: 16px;" class="btn btn-lg btn-facebook btn-block text-uppercase" (click)="signInWithFB()" type="submit"><i
                class="fa fa-facebook-f mr-2"></i>
                 {{ 'Login.SignInWithFacebook' | translate }}
                 </button>
    </div>
</div>
</div>
</div>