<div class="header-main">

  <div class="top-header">
    <div class="float-right">
      <ul class="custom">
        <li>
          <a (click)="openRegister()"> <i class="fa fa-user mr-1"></i><span > {{'Register.Register' | translate}} </span></a>
        </li>
        <li (click)="openLogin()" ><a><i class="fas fa-sign-in-alt mr-1"></i><span>
          {{'Login.Login' | translate}}   </span></a>
        </li>
      </ul>

     
    </div> 

 
      <div class="dropdown ml-5 d-flex" ngbDropdown>

        <a class="lang"  id="dropdownBasic1" ngbDropdownToggle>
          {{ 'Lang' | translate }}
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a (click)="changeLanguage('ar')" class="dropdown-item" >
            اللغة العربية
          </a>
        </button>
          <button ngbDropdownItem>
            <a (click)="changeLanguage('en')" class="dropdown-item">
          
              English

            </a>

          </button>
      
      </div>

    </div>
    
    
   </div>
 

 <nav class="navbar navbar-expand">
  <a class="navbar-brand"  routerLink="/home">
      <!-- <img class="logo img-fluid" src="../../../../assets/img/Jupiter-Cloud-wide-size.png"> -->
   VISIONLOGO
    </a>

  <ul class="navbar-nav ml-auto">


    <!-- <li placement="bottom" [ngbTooltip]="windowWidth? item.name :''" *ngFor="let item of userShortcuts"
        class="userShortcuts  nav-item li-padding d-none d-sm-block">
      <a class="nav-link" [routerLink]="[item.url]">
        <i class="fas {{item.icon}}"></i>
        <span> {{item.name}}</span>
      </a>
    </li>
 -->


    <!-- <li class="nav-item li-padding spreating d-none d-sm-block">
    </li> -->
    <li class="nav-item search-item li-padding">
      <form (submit)="search()">
      <div class="input-group flex-nowrap" id="search_box">
        <input type="text" class="form-control" name="search" placeholder="{{'searchPlaceholder' | translate}}..." [(ngModel)]="searchText"> 
           <div class="input-group-button">
          <button id="searchButton" class="button primary expand" (click)="search()" type="submit" ><i class="fa fa-search"></i></button>
          <!-- <button style="border-right: 1px solid;" id="filterButton" class="button primary expand" type="submit" name="button"><i class="fa fa-filter"></i></button> -->
       
        </div>
    </div>
  </form>
    </li> 

    <li ngbDropdown class="nav-item notfications-item li-padding">
      
      <a id='badge-envelope' class="nav-link icon-hover" routerLink="/home/cart">
        
        <i class="fa fa-shopping-cart"></i>
        <!-- <span *ngIf="cartItem.length > 0;else zeroNotfication" class="badge badge-animation">5</span> -->
        <!-- <ng-template #zeroNotfication>
          <span class="badge">0</span>
        </ng-template> -->
      </a>
    </li> 

  </ul>


</nav> 
</div>
<div class="clearfix"></div>
