<div class="header-main">

  <div class="top-header">
    <div class="float-right">
      <ul class="custom">
        <li>
          <a><i class="fa fa-user mr-1"></i><span > تسجيل </span></a>
        </li>
        <li ><a><i class="fa fa-sign-in mr-1"></i><span> دخول </span></a>
        </li>
      </ul>
    </div> 
  </div>
  
</div>
<div class="clearfix"></div>
 <nav class="navbar navbar-expand">
  <a class="navbar-brand"  [ngClass]="smallSideBarFlag? '':'sidebarActive'">
      <img class="logo img-fluid" src="../../../../assets/img/Jupiter-Cloud-wide-size.png">
    </a>

  <ul class="navbar-nav ml-auto">


    <!-- <li placement="bottom" [ngbTooltip]="windowWidth? item.name :''" *ngFor="let item of userShortcuts"
        class="userShortcuts  nav-item li-padding d-none d-sm-block">
      <a class="nav-link" [routerLink]="[item.url]">
        <i class="fas {{item.icon}}"></i>
        <span> {{item.name}}</span>
      </a>
    </li>
 -->


    <!-- <li class="nav-item li-padding spreating d-none d-sm-block">
    </li> -->
    <li class="nav-item search-item li-padding">
      <div class="input-group" id="search_box">
        <input type="text" class="form-control" placeholder="search Here .... " [(ngModel)]="searchText"> 
           <div class="input-group-button">
          <button id="searchButton" class="button primary expand" type="submit" name="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
    </li> 

    <li ngbDropdown class="nav-item notfications-item li-padding">
      
      <a id='badge-envelope' class="nav-link icon-hover" ngbDropdownToggle>
        
        <i class="fa fa-shopping-cart"></i>
        <span *ngIf="cartItem.length > 0;else zeroNotfication" class="badge badge-animation">5</span>
        <!-- <ng-template #zeroNotfication>
          <span class="badge">0</span>
        </ng-template> -->
      </a>
    </li> 

  </ul>

<!-- 
   -->
      <!-- <ul class="dropdown-menu dropdown-menu-right notfications-dropdown" ngbDropdownMenu
        aria-labelledby="dropdownBasic2">
        <li role="presentation" class="text-center notfication-header">
          <a href="#" class="dropdown-menu-header">Notifications</a>
        </li>


    <li ngbDropdown class="nav-item dropdown user-settings">
      <a class="nav-link dropdown-toggle " id="dropdownBasic1" ngbDropdownToggle>
        <img class="user-img img-fluid" src="assets/img/user.png">
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" ngbDropdownItem (click)="setGreenTheme()">green Theme</a>
      <div class="dropdown-divider"></div>
        <div class="langs">
          <a class="dropdown-item" [ngClass]="appDirection === 'rtl'? 'actives':''" ngbDropdownItem (click)="changeLanguage('ar')">عربى</a>
          | 
          <a class="dropdown-item" [ngClass]="appDirection === 'ltr' ? 'actives':''" ngbDropdownItem (click)="changeLanguage('en')">English</a>
 
        </div>
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" ngbDropdownItem (click)="logOut()">
          <i class="fas fa-power-off"></i>
          Log Out
        </a>
      </div>
    </li>
  </ul> -->
</nav> 
