<div class="container">
<div class="adminHome">
    <div class="row">
    <div class="box col-md-4 col-12">
        <a routerLink="/administration/products/">
        <div class="feature">
            <div class="feature_icon">
                <span class="fas fa-list-ol green"></span>
            </div>
            <div class="feature_title">
                <p class="counter">20000</p>

                <h6>Products</h6>
            </div>
        </div>
    </a>
    </div>


    <div class="box col-md-4 col-12">
        <div class="feature">
            <div class="feature_icon">
                <span class="fas fa-user red"></span>
            </div>
            <div class="feature_title">
                <p class="counter">3</p>
                <h6>users</h6>
            </div>
        </div>
    </div>



    <div class="box col-md-4 col-12">
        <div class="feature">
            <div class="feature_icon">
                <span class="fas fa-shopping-cart orange"></span>
            </div> 
            <div class="feature_title">
                <p class="counter">300</p>

                <h6>orders</h6>
            </div>
        </div>
    </div>


    <div class="box col-md-4 col-12">
        <div class="feature">
            <div class="feature_icon">
                <span class="fas fa-shopping-cart orange"></span>
            </div> 
            <div class="feature_title">
                <p class="counter">10</p>

                <h6>offers</h6>
            </div>
        </div>
    </div>


</div>
</div>
</div>