.body{
    background: #f2f2f2 !important;
}
.adminHome{
    .box{
        .feature{
            padding: 15px;
            background: #fff;
            color: #7f0009;
            border-radius: 10px;
            /* text-align: center; */
            cursor: pointer;
            display: flex;
            margin-bottom: 25px;

        .feature_icon{
            // background: red;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 100%;
                margin-right: 15px;
                font-size: 20px;
                line-height: 2.4;
                display: inherit;
                color: #ecebeb;
                text-align: center;
                &::before{
                    width: 100%;
                }
                &.green{
                    background: green;
                }

                &.red{
                    background: #7f0009;
                }

                &.orange{
                    background: #FF5722;

                }

               

            }
               
        }
      
        .feature_title{
            font-size: 30px;
    font-weight: 600;
    .counter{
        margin: 0;
        font-size: 18px;
        letter-spacing: .8px;
        color: #706969;
    }
    h6{
        font-weight: 600;
        font-size: 18px;
        color: #5c5c5c;

    }
        }
    }
    }
}