<div class="siteWidthContainer">

    <ng-wizard [config]="config">
      
        <ng-wizard-step [title]= "step1Title" 
          [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">

          <div class="allCatogary">
              <div class="row">
                  <div class="col-md-6">
                    <div class="CategorayContainer" (click)="showNextStep($event,'getBrands',0)">
                          <div class="categoaryImage">
                              <img src="assets/img/Electrical_devices.jpg" alt="Electrical devices">
                          </div>  
                  <h6 class="brandName">
                      {{'filter.cat1' | translate}}
                    </h6>

                    </div>
                  </div>

                  <div class="col-md-6">
                      <div class="CategorayContainer" (click)="showNextStep($event,'getBrands',1)">
                        <div class="categoaryImage">
                            <img src="assets/img/Houseware.jpg" alt="Electrical devices">
                        </div>
                  <h6 class="brandName"> {{'filter.cat2' | translate}}</h6>

                      </div>
                </div>

              </div>
          </div>
        </ng-wizard-step>
        
        <ng-wizard-step [title]= "step2Title" >
            <div class="clearfix">
                <button (click)="openAddBrand()" style="min-width: 150px;" class="btn btn-primary main-button float-right">
                    
                    {{'Brand.add' | translate}}
                    <span class="fa fa-plus"></span>
                </button>
              </div>
              <div class="row allBrands">
    
              <div class="col-md-2 brandContainer" (click)="showNextStep()">
                    <div class="brnadImage">
                        
                        <img src="assets/img/Brands/download.png" alt="brandName">
                    </div>
                  <h6 class="brandName">Brand 1</h6>
                </div>
    
                <div class="col-md-2 brandContainer">
                    <div class="brnadImage">
                        
                        <img src="assets/img/Brands/download.png" alt="brandName">
                    </div>
                  <h6 class="brandName">Brand 1</h6>
                </div>
            
            </div> 
        
        </ng-wizard-step>
        
              
        <ng-wizard-step [title]= "step3Title" >
            

            <div class="m-3">
                <div style="padding: 0 40px;">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                        <div class="row">

                        <div class="form-group col-md-6 col-12">
                                <label>{{'Product.name' | translate}}</label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">{{'error.required' | translate}}</div>
                                </div>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label>{{'Product.price' | translate}}</label>
                            <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                <div *ngIf="f.price.errors.required">{{'error.required' | translate}}</div>
                                <div *ngIf="f.price.errors.pattern">
                                    {{'error.validPrice' | translate}}
                                    
            
                                </div>
                            </div>
                        </div>
                    </div>
                     
                        <div class="form-group">
                                <label>{{'Brand.desc' | translate}}</label>
                                <textarea class="form-control"  formControlName="desc" rows="4"  [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"></textarea>
                                <div *ngIf="submitted && f.desc.errors" class="invalid-feedback" >
                                    <div *ngIf="f.desc.errors.required">
                                        {{ 'error.required' | translate}}
                                    </div>
                                </div>

                        </div>
                        <div class="text-center">
                            
                            <button class="btn btn-primary main-button">{{'add' | translate}}</button>
                            <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
                        </div>
                </form>
                </div>
            </div>
            
        </ng-wizard-step>
        
      
      

        <ng-wizard-step [title]= "step4Title" >
            

            <div class="m-3">
                <div style="padding: 0 40px;">
                   

                    <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">Drop your file here!</div>
                        </div>
                    </div>

                    
                    <!--droped image preview-->
                    <div class="row">
                     <div class="col-3" *ngFor="let file of files">

                            <img *ngIf="file" [src]="file.url" 
                                width="100%"
                                height="200px">
                    </div>

                    <!-- to be done add new Image without lose others -->
                    <!-- <div *ngIf="files.length" class="col-3 rmpm dropzone mini" appDrag [currentFile]="files" (files)="filesDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">Drop your file here!</div>
                        </div>
                    </div> -->
                </div>

                <div class="text-center mt-5">
                            
                    <button class="btn btn-primary main-button" (click)="addPhotos()">{{'addPhotos' | translate}}</button>
                </div>

                </div>
            </div>
            
        </ng-wizard-step>
        
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        </ngx-spinner>

      </ng-wizard>
    </div>
      