@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';

.test{
    background-color: red;
}

.ng-wizard-theme-dots>ul.step-anchor>li>a:after,.ng-wizard-theme-dots>ul.step-anchor>li>a:before{
    bottom: -8px !important;
}
.ng-wizard-theme-dots>ul.step-anchor:before{
    top: 55px;
}
.step-anchor{
    width: 60%;
    text-align: center;
    margin: auto;
  

}
.ng-wizard-theme-dots>ul.step-anchor>li{
    width: 50%;

}
.ng-wizard-theme-dots>ul.step-anchor>li>a:after{
    left: 41.4%;
}
.ng-wizard-theme-dots .step-content{padding: 30px 0;}
.ng-wizard-theme-dots>ul.step-anchor>li.active>a:after{
    background: var(--Vprimary);
}
.ng-wizard-theme-dots>ul.step-anchor>li.active>a{
    color: var(--Vprimary);

}
.address , .addAddress{
    padding: 15px 10px;
    border: 1px solid #dddbdb;
    margin-bottom: 15px;
    .addressLabel{
        font-size: 17px;
        font-weight: 600;
        span{
    color: var(--Vprimary);

        }

    }
    .addressDetails{
        margin-top: 10px;
        .name,.Address,.phone{
            label{
                min-width: 110px;
                font-size: 14px;
                color: rgb(126, 133, 155);

            }
        }
    }
    &.selected{
        border: 1.8px solid var(--Vprimary);
    }
   
}
.addAddress{
    height: calc(100% - 15px);
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    .btn{
        font-size: 18px;
        span{
            font-size: 20px;
            color: rgb(126, 133, 155);


        }

    }
}
.StepTitle{
    font-size: 1.6667rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.payment {
    border: 1px solid #dddbdb;
    padding: 15px !important;
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: var(--Vprimary);
        border-radius: 0;

    }
    .nav-item{
        width: 46%;
        text-align: center;
        border: 1px solid #dddbdb;
        margin-right: 15px;
        margin-bottom: 15px;

        
    i{
        margin: 0 8px;
        font-size: 18px;
    }
    }
    .paymentMethodWrapper {
        // min-height: 150px;
        .switchMethods {
            font-weight: 600;
        }        
    }
    .fieldRow{
        display: flex;
    }
    .inputWrapper{
        position: relative;
    }
    .fieldWrapper{margin-bottom: 20px;
        flex: 0 1 26%;
        display: inline-block;
        width: 50%;
        white-space: normal;
        padding-left: 15px;
    }
    label{
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.02em;
        margin-bottom: 6px;
        display: block;
        color: rgb(126, 133, 155);
        font-size: 14px;
    }
    .inputWrapperExpiry{
        display: flex;
        .cardExpiryMonth input{
            border-style: solid none solid solid;
        }
        .expirySeparator input[type="text"]:disabled{
            opacity: 1;
            border-style: solid none;
            border-radius: 0px;
            background-color: rgb(255, 255, 255);
            width: 10px;
        }
         .cardExpiryYear input{
            border-style: solid solid solid none;

         }
        input{
            display: inline-block;
            border-radius: 0px;
            padding: 0px;
            text-align: center;
            &:focus{
                outline: 0;
                box-shadow: none;
                border-color: #ced4da;

            }
        }
    }
}
.invoiceContainer{
    padding: 18px 15px 20px;
    background-color: rgb(247, 249, 254);
    border: 1px solid rgb(226, 229, 241);
    .invoiceHeader{
        font-weight: bold;
        font-size: 17px;
    }
    .invoiceRows{
        margin-top: 10px;
    }
    .invoiceRow {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 8px;
        .cartCount {
            color: #8d94a6;
            font-weight: normal;
            text-transform: none;
        }
        .freeAmount {
            color: rgb(56, 102, 223);
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
        }
        &.totalRow{
            font-weight: bold;
            font-size: 15px;
            border-top: 1px solid rgb(235, 236, 240);
            padding-top: 12px;
            .vatNote {
                font-size: 11px;
                color: #8d94a6;
                font-weight: normal;
                text-transform: none;
            }
        
        }
    }

}
.placeOrder{
    text-align: center;
    margin-top: 20px;
    .btn{
        width: 80%;
    }
}